<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>About commerce</h3>

<pre>The commerce stream strives to impart the basic knowledge of the economy, trade and commerce, and accounting. The subjects are segregated into four Compulsory subjects and five optional subjects in commerce.

    COMPULSORY SUBJECTS

    The following subjects are the main constituents of the commerce stream.

    Accountancy
    Business Studies
    Economics and
    English

</pre>
</body>
</html>