<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function departmentDrop()
        {
            var depdropdown=document.getElementById("department");
            var coursedropdown=document.getElementById("course");

            coursedropdown.innerHTML="";

            var selecteddep=depdropdown.value;

            var courses={
                "ComputerScience":["BTech","MTech","BCA","MCA"],
                "Commerce":["BBA","MBA"],
                "Biotechnology":["BSc","BPharm"],
                "Economics":["Bcom","BA"],
                "Psychology":["BA","BSc","PhD"]

            };

            var courseOptions=courses[selecteddep];
            for (var i=0;i<courseOptions.length;i++)
            {
                var option=document.createElement("option");
                option.text=courseOptions[i];
                coursedropdown.add(option);
            }
        }

    </script>
</head>
<body bgcolor="Lightskyblue">
<h2>Form</h2>
<form action="formfill" method="post">
	{% csrf_token %}

<label> Name </label>
<input type="text" name="firstname"  size="15"/> <br> <br>
<label>
    Enter your birthday:
    <input type="date" name="bday" />
  </label>
<br>

<label>
Gender :
</label><br>
<input type="radio" name="male"/> Male <br>
<input type="radio" name="female"/> Female <br>
<input type="radio" name="other"/> Other
<br>
<br>
<label>
Phone :
</label>
<input type="text" name="countrycode"  value="+91" size="2"/>
<input type="text" name="phone" size="10"/> <br> <br>
Email:
<input type="email" id="email" name="email"/> <br>
<br> <br>
Address
<br>
<textarea cols="80" rows="5" value="address">
</textarea>
<br> <br>
<label>
Department :
</label>

<select name="department" id="department" class="department-dropdown" onchange="departmentDrop()">
<option value="Department">Department</option>
<option value="ComputerScience">ComputerScience</option>
<option value="Commerce">Commerce</option>
<option value="Biotechnology">Biotechnology</option>
<option value="Economics">Economics</option>
<option value="Psychology">Psychology</option>

</select>

<br>
<br>
<label>
Course :
</label>
<select name="course" id="course" class="course-dropdown">
<option value="Course">Courses</option>
<option value="BCA">BCA</option>
<option value="BBA">BBA</option>
<option value="B.Tech">B.Tech</option>
<option value="MBA">MBA</option>
<option value="MCA">MCA</option>
<option value="M.Tech">M.Tech</option>
</select>

<br>
<br>

<label>
Purpose :
</label>
<select>
<option value="Course">Purpose</option>
<option value="ForEnquiry">For Enquiry</option>
<option value="PlaceOrder">Place Order</option>
<option value="Return">Return</option>

</select>

<br>
<br>

<label>
Materials provide  :
</label><br>
<input type="radio" name="note"/> Notebook <br>
<input type="radio" name="pen"/> Pen <br>
<input type="radio" name="paper"/> Exam Paper
<br>
<br>
<button type="submit" >Submit</button>

</form>

{% for msg in messages %}
<h4>{{msg}}</h4>
{% endfor %}
<a href="/">Home Page</a>
</body>
</html>